body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ddc957, #512e5f);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: #fff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(108, 52, 131, 0.2);
  width: 600px;
  max-width: 90vw;
  text-align: center;
  min-height: 420px; /* tăng chiều cao tối thiểu */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #2d3436;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

.login-container input:focus {
  border-color: #0984e3;
  box-shadow: 0 0 5px rgba(9, 132, 227, 0.5);
}

.login-container button {
  width: 100%;
  padding: 12px;
  background: red;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background: linear-gradient(135deg, #6c3483, #512e5f);
}

.login-container p {
  margin-top: 15px;
  font-size: 14px;
}

.login-container a {
  color: #0984e3;
  text-decoration: none;
}
